<div class="footer">
    <div class="footer-left">
        <p class="footer-logo">PEKAEL</p>
        <p class="footext">Praktik Kerja Lapang </br>
            @ <a href="https://kly.id" target="_BLANK">KapanLagi Youniverse</a></p>
    </div>
    <div class="footer-center">
        <h3 class="footext" style="font-size: 24px;">Hubungi Kami</h3>
        <table class="contact">
            <tr>
                <td><a href="#fahmi">Fahmi Chairuddin</a></td>
                <td>-</td>
                <td><a href="https://api.whatsapp.com/send?phone=6281235254682" target="_BLANK">Whatsapp</a></td>
                <td><a href="https://www.facebook.com/fahmi.chairuddin" target="_BLANK">Facebook</a></td>
            </tr>
            <tr>
                <td><a href="#firdaus">Ahmad Firdaus Ababil</a></td>
                <td>-</td>
                <td><a href="https://api.whatsapp.com/send?phone=6281331017597" target="_BLANK">Whatsapp</a></td>
                <td><a href="https://www.facebook.com/ahmad.firdaus0204" target="_BLANK">Facebook</a></td>
            </tr>
            <tr>
                <td><a href="#habib">Habibullah Dzaky Musthafa</a></td>
                <td>-</td>
                <td><a href="https://api.whatsapp.com/send?phone=6281334070787" target="_BLANK">Whatsapp</a></td>
                <td><a href="https://www.facebook.com/habb07" target="_BLANK">Facebook</a></td>
            </tr>
        </table>

    </div>
    <div class="footer-right">
        created by Ahmad Firdaus Ababil</br>
        @2020
    </div>
</div>

</body>

<script src="./assets/js/jquery-3.3.1.min.js"></script>
<script src="./assets/js/my.js"></script>
