<div class="navbar">
    <div class="nav-left">
        <a href="#home" class="nav-logo">PEKAEL</a>
    </div>
    <div class="nav-right">
        <a href="#" onclick="menuClick()" class="menu-mobile" id="menu-mobile">Menu</a>
        <a href="#home" class="nav-menu">Home</a>
        <a href="#fahmi" class="nav-menu">Fahmi</a>
        <a href="#firdaus" class="nav-menu">Firdaus</a>
        <a href="#habib" class="nav-menu">Habib</a>
    </div>
</div>
<div id="sub-nav-mobile">
    <ul>
        <a href="#home" class="nav-menu">Home</a>
        <a href="#fahmi" class="nav-menu">Fahmi</a>
        <a href="#firdaus" class="nav-menu">Firdaus</a>
        <a href="#habib" class="nav-menu">Habib</a>
    </ul>
</div>