@font-face {
    font-family: azonic;
    src: url(../fonts/Azonix.otf);
}

@font-face {
    font-family: modern-sans;
    src: url(../fonts/modern_sans_serif.ttf);
}

html body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    right: 0;
    background: linear-gradient(42.04deg, #FDC51021.87%, rgba(250, 224, 38, 0.62) 91.89%);
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
}

.main-container {
    padding-left: 2%;
    padding-right: 2%;
}

#home, #fahmi, #firdaus, #habib {
    height: 50px;
}

.home-container {
    float: left;
    width: 100%;
    height: fit-content;
}

.home {
    width: 100%;
}

.home h4 {
    font-style: normal;
    font-weight: lighter;
}

.home-left {
    float: left;
    width: 48%;
    margin-right: 2%;
}

.home-right {
    float: left;
    width: 48%;
    margin-right: 2%;
}

.home-left h4, .home-right h4 {
    font-style: normal !important;
    font-weight: lighter !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: modern-sans;
}

.navbar {
    background-image: url(../img/nav-bg.png);
    background-color: blueviolet;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 42px;
    border-radius: 0px;
    vertical-align: top;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: azonic;
}

.navbar a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.nav-left {
    float: left;
    padding-left: 5%;
}

.nav-left img {
    padding-top: 2px;
    height: 40px;
}

.nav-right {
    float: right;
    padding-right: 5%;
}

.nav-right a {
    padding-top: 13px;
}

.nav-right .menu-mobile {
    display: none;
}

.nav-left a {
    font-family: azonic;
    font-size: 28px;
    font-weight: bold;
}

.nav-left a:hover {
    text-decoration: none;
    color: black;
}

#sub-nav-mobile {
    display: none;
}

.magang {
    float: left;
    width: 100%;
    height: 500px;
    margin-top: 80px;
}

table {
    border-collapse: collapse;
}

td, th {
    vertical-align: top;
    padding: 5px;
    padding-top: 10px;
    font-size: 20px;
    font-family: modern-sans;
    text-align: left;
}

.separator {
    padding-left: 100px;
}

.table-left {
    left: 0;
    float: left;
    width: 20%;
    margin-left: 2%;
    margin-right: 5%;
}

.table-right {
    float: left;
    width: 60%;
}

.table-left img {
    width: 100%;
    border: 8px solid rgba(0, 23, 230, 0.5);
    border-radius: 50%;
}

.footer {
    float: right;
    clear: right;
    display: block;
    background-color: blueviolet;
    width: 100%;
    height: 200;
    border-radius: 0px;
}

.footer-left {
    float: left;
    width: 30%;
    padding-left: 1%;
    overflow-x: hidden;
    color: bisque;
}

.footer-left a {
    text-decoration: none;
    color: bisque;
}

.footer-center {
    float: left;
    padding-left: 1%;
    width: 35%;
    padding-right: 1%;
    overflow-x: hidden;
}

.footer-right {
    float: right;
    width: 30%;
    overflow-x: hidden;
    text-align: right;
    padding-right: 1%;
    font-family: modern-sans;
    font-size: 16px;
    color: bisque;
    padding-top: 2%;
}

.footer-logo {
    font-family: azonic;
    font-size: 28px;
    font-weight: bold;
}

.footext {
    font-family: modern-sans;
    font-size: 16px;
    color: bisque;
}

.contact {
    color: bisque;
}

.contact a {
    text-decoration: none;
    color: bisque;
    font-family: modern-sans;
    font-size: 16px;
}

.contact a:hover {
    color: cyan;
    text-decoration: underline;
}

@media screen and (max-width:600px) {

    html body {
        background: linear-gradient(42.04deg, #FDC51021.87%, rgba(250, 224, 38, 0.62) 91.89%);
    }

    .main-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .navbar {
        width:100%;
        position: relative;
    }
    
    .nav-right .nav-menu {
        display: none;
    }
    
    .nav-right .menu-mobile {
        display: block;
    }

    #sub-nav-mobile {
        display: none;
        width: 100%;
        right: 0;
        float: right;
        z-index: 999;
        background-color: blueviolet;
    }
    
    #sub-nav-mobile a {
        display: block;
        color: black;
        padding: 10px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        font-family: azonic;
    }
    
    #sub-nav-mobile a:hover {
        color: bisque;
        text-decoration: underline;
    }
    
    .home-left {
        float: left;
        width: 100%;
    }
    
    .home-right {
        float: left;
        width: 100%;
    }
    
    td, th {
        vertical-align: top;
        padding: 5px;
        font-size: 16px;
        font-family: modern-sans;
        text-align: left;
    }

    .cv-table .separator {
        width: 10px;
        padding-left: 10px;
        padding-right: 0px;
    }
    
    .table-left {
        float: left;
        width: 93%;
    }
    
    .table-right {
        padding-top: 30px;
        float: left;
        width: 100%;
    }
    
    .magang {
        float: left;
        width: 100%;
        height: 850px;
        margin-top: 80px;
    }
    
    .footer {
        margin-top: 100px;
        float: right;
        clear: right;
        display: block;
        background-color: blueviolet;
        width: 100%;
        height: 450px;
        border-radius: 0px;
    }
    
    .footer-left {
        float: left;
        width: 95%;
        padding-left: 5%;
        overflow-x: hidden;
        color: bisque;
    }
    
    .footer-left a {
        text-decoration: none;
        color: bisque;
    }
    
    .footer-center {
        float: left;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        overflow-x: hidden;
        padding-top: 20px;
    }
    
    .footer-right {
        float: right;
        width: 95%;
        overflow-x: hidden;
        text-align: right;
        font-family: modern-sans;
        font-size: 16px;
        color: bisque;
        padding-top: 20px;
        padding-right: 5%;
    }
    
    .footer-logo {
        font-family: azonic;
        font-size: 28px;
        font-weight: bold;
    }
    
    .footext {
        font-family: modern-sans;
        font-size: 16px;
        color: bisque;
    }
    
    .contact {
        color: bisque;
    }
    
    .contact a {
        text-decoration: none;
        color: bisque;
        font-family: modern-sans;
        font-size: 16px;
    }
    
    .contact a:hover {
        color: cyan;
        text-decoration: underline;
    }
    
}

