<div class="magang">
    <div id="firdaus"></div>
    <h1># Ahmad Firdaus Ababil</h1>
    <div class="table-container">
        <div class="table-left">
            <img src="./assets/img/firdaus.jpg">
        </div>
        <div class="table-right">
            <table class="cv-table">
                <tr>
                    <th>Nama</th>
                    <td class="separator">:</td>
                    <td>Ahmad Firdaus Ababil</td>
                </tr>
                <tr>
                    <th>TTL</th>
                    <td class="separator">:</td>
                    <td>Jember, 16 Februari 1998</td>
                </tr>
                <tr>
                    <th>Kampus</th>
                    <td class="separator">:</td>
                    <td>Universitan Jember</td>
                </tr>
                <tr>
                    <th>Fakultas</th>
                    <td class="separator">:</td>
                    <td>Ilmu Komputer</td>
                </tr>
                <tr>
                    <th>Program Studi</th>
                    <td class="separator">:</td>
                    <td>Sistem Informasi</td>
                </tr>
                <tr>
                    <th>Motto</th>
                    <td class="separator">:</td>
                    <td>"Perbedaan bukan memecahkan, namun dari perbedaan bisa muncul sebuah kebersamaan, keakraban, dan keharmonisan. Dan itu akan kami wujudkan dalam FORTRAN 2016."</td>
                </tr>
            </table>
        </div>
    </div>
</div>